@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "vue-toast-notification/dist/theme-bootstrap.css";

@plugin "daisyui";

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
  @apply subpixel-antialiased;
}

tbody tr:hover {
  @apply bg-stone-100;
}

th {
  @apply text-nowrap border-b p-4 text-start font-medium;
}

td {
  @apply border-b p-4;
}

.v-toast__item {
  @apply rounded-md py-0.5 min-w-xs;
}
